<div class="span-4"><h2>Step 2 of 2</h2></div>
<div class="clear"></div>
<div class="span-22" id="my_shopping">

	{% if cart.items %}
	<h3>Sell Summary</h3>
<div class="span-18">
		<div class="span-17" id="title">
			<div class="span-6"><span>Description</span></div>
			<div class="span-3"><span>Price</span></div>
			<div class="span-3"><span>Quantity</span></div>
			<div class="span-3 "><span>Total</span></div>
			<div class="clear"></div>
		</div>
		{% for item in cart.cart_items %}
<div class="span-17" id="{{ loop.cycle('detail1','detail2') }}">
			<div class="span-3 detail">
				{% if item.image.small %}
				<img src="{{ item.image.small }}" width="70px" />
				{% else %}
				<img src="{{ 'no_photo_small.png'|asset_url }}"/>
				{% endif %}
			</div>
			<div class="span-3 detail">{{ item.title }}</div>
			<div class="span-3 detail">{{ item.price }}</div>
			<div class="span-3 detail">{{ item.qty }}</div>
			<div class="span-3 detail ">{{ item.sub_total }}</div>
</div>
<div class="clear"></div>
		{% endfor %}
<div class="span-10">
	<h3>Shipping To</h3>
			<div class="shipping_box span-16">
				<div>{{ cart.shippingdata.street_address }} </div>
				<div>{{ cart.shippingdata.city }}, {{ cart.shippingdata.state }} ({{ cart.shippingdata.zip }})</div>
				<div>{{ cart.shippingdata.country }}</div>
			</div>
</div>
		<div class="span-17 align_right">
			<h3 class="total">Sub Total: {{ cart.total }}</h2>
				<h3 class="total">Taxes: {{ cart.taxes }}</h2>
					<h3 class="total">Shipping Charge: {{ cart.shipping_charge }}</h2>
						<h2 class="total">Total: {{ cart.total_with_taxes }}</h2>
					</div>
					<div class="clear"></div>
					{% if payment_buttons %}
					<div class="PaymentButtons">
						<h3>Select Payment Method</h3>
						<div class="span-16 payment_box">
							{% for payment_button in payment_buttons %}
							<div class="span-4">
								{{ payment_button|safe }}
							</div>
							{% endfor %}
						</div>
						<div class="clear"></div>
					</div>
					{% else %}
						<div class="notice">
							<p>We don't have online payments available at this moment. Please, contact with {{ admin_email }} to finish your purchase.</p><br/> 
							<p>Thanks</p>
						</div>
					{% endif %}
					</div>
				{% else %}
				<div class="success">Your cart is empty</div>
				{% endif %} 
		</div>
</div>
</div>