<div class="grid_18 prefix_1 suffix_1" id="for_sale">
  <h1 class="border">For Sale</h1>

{% if not items %}
  <h4>No item for sale.</h4>
{% endif %}
{% for item in items %}
  <div class="product grid_5">
    <div class="image">
      <div class="align">
        <div>
          <a href="{{ item.url }}" id="product"><img src="{% if item.image.medium %}{{ item.image.medium }}{% else %}{{ 'no_photo_medium.png'|asset_url }}{% endif %}" width="240px"/></a>
        </div>
      </div>
    </div>
    <h3>{{ item.price }}</h3>
    <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
  </div>
{% endfor %}
<div class="clear"></div>



        <div class="clear"></div>
  
  <div class="pagination prefix_1">
            {{ paginator }}
  </div>
</div>

<div class="clear"></div>
