<div class="grid_10 prefix_1 suffix_1">
        <p>Bidders: {{ lot.count_bidders }}</p>
        <p>Bids: {{ lot.count_bids }}</p>
        <p>Time Left: {{ lot.time_left_long }}</p>

        <div class="title">
          <div class="grid_3 aplha omega">Bidder</div>
          <div class="grid_2 aplha omega">Bid amount</div>
          <div class="grid_5 aplha omega">Bid time</div>
          <div class="clear"></div>
        </div>

        {% for bid in history %}
  <div class="detail {{ loop.cycle('detail1','detail2') }}">
    <div class="detail_bidder grid_3 aplha omega">{{ bid.bidder_username }}</div>
    <div class="detail_amount grid_2 aplha omega">{{ bid.bid_amount }}</div>
    <div class="detail_time grid_5 aplha omega">{{ bid.bid_time }}</div>
    <div class="clear"></div>
  </div> 
        {% endfor %}


        <p><a href="{{ lot.dir_back }}">Back to {{ lot.title }}</a></p>
</div> 

<div class="grid_8">


    <h2>{{ lot.title }}</h2>
    <div class="grid_3">
	  <img src="{% if lot.image.small %}{{ lot.image.small }}{% else %}{{ 'no_photo_small.png'|asset_url }}{% endif %}" width=100px />
    </div>
    <div class="grid_4">

  {{ description }} 

    </div>
    <div class="clear"></div>


</div>

<div class="clear"></div>
