<script type="text/javascript">
$(document).ready(function () {

       Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');
    
  $('#images').galleria({
    height:400,
    extend: function(options) {
          //Galleria.log(this) // the gallery instance
        //Galleria.log(options) // the gallery options
  
          // listen to when an image is shown
          this.bind(Galleria.IMAGE, function(e) {
            //Galleria.log(e) // the event object may contain custom objects, in this case the main image
              //Galleria.log(e.imageTarget) // the current image
  
              // lets make galleria open a lightbox when clicking the main image:
              $(e.imageTarget).click(this.proxy(function() {
                var image = this.getActiveImage();
                window.open(image.src,"Image Preview","width="+ (image.naturalWidth + 20) +",height="+ (image.naturalHeight + 20) +",scrollbars=NO")
              }));
          });
      }
      
  });
}); 

</script>


<div class="grid_18 prefix_1 subfix_1" id="detail_product">
  <div class="grid_10 prefix_1 alpha omega">
    <h1>{{ lot.title }}</h1>
     <p>{{ lot.category }} > {{ lot.subcategory }}</p>   
     <p>Time Left: <span class="big">{{ lot.time_left }} ({{ lot.session_end }})</span></p>
  
      {{ form }}

  </div>
  
  <div class="grid_6 subfix_1 prefix_1 alpha omega">
    <div id="images">

       {% for img in images %}
          <img src="{{ img.original }}"/>
       {% endfor %}

    </div>
  </div>

  <div class="clear"></div>
  <br/>
  <br/>
  
  <div class="grid_16 prefix_1 subfix_1">
    <h2>Description</h2>
    <p>{{ lot.description }}</p>
  </div>

</div>
<div class="clear"></div>
