<script type="text/javascript">
$(document).ready(function () {

       Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');
    
  $('#images').galleria({
    height:400,
                popup_links: true,
    extend: function(options) {
          //Galleria.log(this) // the gallery instance
        //Galleria.log(options) // the gallery options
  
          // listen to when an image is shown
          this.bind(Galleria.IMAGE, function(e) {
            //Galleria.log(e) // the event object may contain custom objects, in this case the main image
              //Galleria.log(e.imageTarget) // the current image
  
              // lets make galleria open a lightbox when clicking the main image:
              $(e.imageTarget).click(this.proxy(function() {
                var image = this.getActiveImage();
                        this.openLightbox();
              }));
          });
      }
      
  });
}); 

</script>

<div class="grid_18 prefix_1 subfix_1">

  <div class="grid_9 prefix_2 alpha omega">
    <h1>{{ item.title|title }}</h1>
    <p>{{ item.category }} > {{ item.subcategory }}</p>

    {{ form }}      

  </div>

  <div class="grid_7 subfix_1 alpha omega">
    <div id="images">

     {% for img in images %}
         <img src="{{ img.original }}"/>
     {% endfor %}
    
    </div>
  </div>

  <div class="clear"></div>
  <br/>
  <br/>

  <div class="grid_16 prefix_2 subfix_2">
    <h2>Description</h2>
    <p>{{ item.description }}</p>
  </div>

</div>
<div class="clear"></div>

<script type="text/javascript">
    $('#images').galleria();
</script>
