<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8"/>
        <title>{{ shop_name }} - {{ page_title }}</title>
        <meta name="description" content="{{ page_description }}" />
        <link rel="stylesheet" href="{{ 'css.css' | asset_url }}" />
        <link rel="stylesheet" href="{{ '960_20.css' | asset_url }}" />
        <link rel="stylesheet" href="{{ 'buttons.css' | asset_url }}" />
        <!--[if IE]><link rel="stylesheet" href="{{ 'ie.css' | asset_url }}" type="text/css" media="screen, projection" /><![endif]-->


        {{ header }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script> 
        <script>
			$(function(){
			  var path = location.pathname.substring(1)
			  page = path.split('/')[0];
			  if (page != 'pages'){
				if (page == '') 
						    page = 'home';
				$('.menu a[href$="/' + page + '/"]').attr('class', 'current');
			}else{
			  page = path.split('/')[1];
				$('.menu a[href$="/pages/' + page + '/"]').attr('class', 'current');
			}
			});
	    </script>
 
</head>
    
    <body>
        <div class="container_20">


            <div class="header grid_20 alpha omega">
                <div class="grid_4 alpha omega home_title">
                  <h2>{{ shop_name|title }}</h2>
                </div>
                <p>            
                    <div class="grid_3 alpha omega" id="my_shopping_count">
                    {% if user_is_logged %}
                    <div id="go_myshopping">
                             <a href="{{ url_my_shopping }}">Shopping Cart</a><div class="CartTotal"> ({{ total_cart_items  }}) &nbsp;&nbsp; </div>
                          <a href="{{ url_my_orders }}">My Orders</a>
                        </p>
                    </div>
                    {% endif %}          
              </div>

              <div class="menu grid_15 alpha omega">
                        {{ menu }}
              </div>
              <div class="clear"></div>
  
              <div class="search grid_20 alpha omega">
                        <form action="{{ url_search }}" method="get" name="form">
                        <input type="text" value="search.. {{ shop_name }}" name="q"  onClick="this.value='';"" />
                        <button type="submit" class="small awesome">Search</button>
                        </form>
              </div>

              <div class="clear"></div>
  
            </div>
            <div class="clear"></div>

            <!-- FLASH MESSAGE  -->
            <div id="flash_message">
                {{ flash }}
            </div>
            <div class="clear"></div>


            <!-- CONTENT  -->
            <div class="body_container">
                {{ content }}
            </div>

  <div class="clear"></div>

            <!-- FOOTER -->            
   <div class="grid_20 footer">
                  <div class="grid_19" id="title">
                    <div class="grid_6 alpha omega">
                      <h3>About Us</h3>
                    </div>
                    <div class="grid_6 alpha omega">
                      <h3>From Our Blog</h3>
                    </div>
                    <div class="grid_6 alpha omega">
                      <h3>Quick Navigation</h3>
                    </div>
                  </div>
                  <div class="clear"></div>

                  <div class="grid_19">
                    <div class="grid_6">
                      <p>{{ about|truncate(100) }}</p>
                      <a href="/about_us/">Read more</a>
                    </div>

                    <div class="grid_6">
                      <h5><a href="{{ last_post.url }}">{{ last_post.title }}</a></h5>
                      <h5>Posted on {{ last_post.date_time }}</h5>
                      <p>{{ last_post.body|truncate(100) }}</p>
                    </div>
    
                    <div class="grid_6">
                      {% for link in links %}
                        <p><a href="{{ link.to }}">{{ link.name }}</a></p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="clear"></div>   
</div>

        {{ footer }}

    </body>
</html>