<div class="grid_ 18" id="my_shopping">
  
  <!-- cart --> 

  {% if not cart_items %}
    <h2>For Some Odd Reason, You're Cart Appears to Be Empty.....</h2>
<p>Please Look at Our Items For <b><a href="/for_sale/">Sale</a> </b></p>
</br>
<p>Please Look at Our Items For<b> <a href="/auctions/">Auctions</a>  </b></p>
  </br>
<p>Please Look At Our Home Page<b> <a href="/home">Here</a></b></p>




  {% else %}
      <div class="grid_18" id="title">
        <h1 class="border">My Cart</h1>
        <div class="grid_6 omega"><span>Description</span></div>        
        <div class="grid_3"><span>Price</span></div>
        <div class="grid_3"><span>Quantity</span></div>
        <div class="grid_3 alpha omega"><span>Total</span></div>
        <div class="grid_3"><span>Option</span></div>
        <div class="clear"></div>
      </div>
    {% for item in cart_items %}
      <div class="grid_18" id="{{ loop.cycle ('detail1', 'detail2') }}">
        <div class="grid_2 omega detail">
          <a href="{{ item.url }}">
			{% if item.image.small %}
				<img src="{{ item.image.small }}" width=50px />
			{% else %}
				<img src="{{ 'no_photo_small.png'|asset_url }}"/>
			{% endif %}
		  </a>
        </div>
        <div class="grid_4 omega detail">
          <a href="{{ item.url }}">{{ item.title|title }}</a>
        </div>          
        <div class="grid_3 detail">{{ item.price }}</div>         
        <div class="grid_3 detail">{{ item.qty }}</div>
        <div class="grid_3 alpha omega detail">{{ item.sub_total }}</div>
        <div class="grid_3 detail">
          {% if item.can_remove %}
            <a href="{{ item.url_remove }}" class="small awesome">Remove</a>
          {% else %}
            &nbsp;
          {% endif %}
        </div>
        <div class="clear"></div>
      </div>
    {% endfor %}

    <div class="grid_18">
      <h2 class="total">Total: {{ total }}</h2>
      <h2 class="total"><a href="/search/?q=">Continue Shopping </a></h2>

      <div class="checkout">
        <a href="{{ url_checkout }}" class="awesome big">Checkout</a>
      </div>          
    </div>
    <div class="clear"></div>

  {% endif %}

</div>
