<script type="text/javascript">
$(document).ready(function () {

       Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');
    
  $('#images').galleria({
    height:400,
                popup_links: true,
    extend: function(options) {
          //Galleria.log(this) // the gallery instance
        //Galleria.log(options) // the gallery options
  
          // listen to when an image is shown
          this.bind(Galleria.IMAGE, function(e) {
            //Galleria.log(e) // the event object may contain custom objects, in this case the main image
              //Galleria.log(e.imageTarget) // the current image
  
              // lets make galleria open a lightbox when clicking the main image:
              $(e.imageTarget).click(this.proxy(function() {
                var image = this.getActiveImage();
                        this.openLightbox();
              }));
          });
      }
      
  });
}); 

</script>

<div class="grid_18">

  <div class="grid_9 alpha omega item_description">
    <h2>{{ item.title|title }}</h2>
    <p><a href="/search/?q={{ item.category }}">{{ item.category }}</a> >> <a href="/search/?q={{ item.subcategory }}">{{ item.subcategory }}</a></p>
   {% if user_is_logged %}
    {{ form }}      
   {% else %}
   <h4><a href="/login/">Please Login To Add Item To Cart</a> Or </br><a href="/register/"> Sign Up </a></h4>
  {{ form }}    
    {% endif %}

  </div>

  <div class="grid_7 alpha omega">
    <div id="images">

     {% for img in images %}
         <img src="{{ img.original }}"/>
     {% endfor %}
    
    </div>
  </div>

  <div class="clear"></div>
  <br/>
  <br/>

  <div class="grid_16">
    <h2>Description</h2>
    <p>{{ item.description }}</p>
  </div>

</div>
<div class="clear"></div>

<script type="text/javascript">
    $('#images').galleria();
</script>