<div class="span-22" id="for_sale">
	<h1>For Sale</h1>
	{% if not items %}
	<h4>No item for sale.</h4>
	{% endif %}
	{% for item in items %}
		<table class="SearchResults">
		<tr class="ImageRow">
		  <td class="ImageCell">
		    {{ item.Category }}
		  <a href="{{ item.url }}"><img src="{% if item.image.medium %}{{ item.image.medium }}{% else %}{{ 'no_photo_medium.png'|asset_url }}{% endif %}" width="150"/></a>
		  </td>
		</tr>
		<tr>
			<td>
			Price: {{ item.price }}
		 	</td>
		</tr>
		<tr>
			<td>
			<a href="{{ item.url }}">{{ item.title }}</a>
			</td>
		</tr>
		</table>
	{% endfor %}
</div>	
<div class="clear"></div>
<div class="pagination">
     {{ paginator }}
</div>
<div class="clear"></div>