<div class="span-22" id="my_orders">
  <!-- bids -->
  <h2>My Bids</h2>
  {% if bids %}
    {% for lot in bids %}
      <div class="span-8">
        <div class="span-3 ">
          <a href="{{ lot.url }}"><img src="{% if lot.image.small %}{{ lot.image.small }}{% else %}{{ 'no_photo_small.png'|asset_url }}{% endif %}" width=100px /></a>
        </div>
        <div class="span-4 ">
          <h3><a href="{{ lot.url }}">{{ lot.title|title }}</a></h3>
          <p>
          {% if lot.is_active %}
            {% if lot.count_bids is sameas 0 %}
              Starting bid
            {% else %}
              Current Bid:
            {% endif %}
          {% else %}
            Final Bid:
          {% endif %}
          {{ lot.current_bid }}
          </p>
          <p>Time Left: {{ lot.time_left }}</p>
        </div>
        <div class="clear"></div>     
      </div>
    
      <div class="span-13">
        <h5>Bidding History</h5>
    
        <div class="span-3 omega">Bidder</div>
        <div class="span-2 omega">Bid amount</div>
        <div class="span-4 omega">Bid time</div>
        <div class="clear"></div>
      
        {% for bid in lot.history %}
          <div class="{{ loop.cycle('detail1', 'detail2') }}">
            <div class="span-3 omega">{{ bid.bidder_username }}</div>
            <div class="span-2 omega">{{ bid.bid_amount }}</div>
            <div class="span-7 omega">{{ bid.bid_time }}</div>
            <div class="clear"></div>
          </div>
        {% endfor %}
      
      </div>
    
<div class="clear"></div>
    <br/>
    {% endfor %}
        {% else %}
           <h3>No bids</h3>
  {% endif %}
      <br/>

  <!-- orders -->
 <h2>My Orders</h2>
  {% if my_orders %}
    <div class="span-1">ID</div>
    <div class="span-6">Time</div>
    <div class="span-2">Total</div>
    <div class="clear"></div>
  
    {% for sell in my_orders %}
     <div class="span-1">{{ sell.id }}</div>
      <div class="span-6">{{ sell.date_time }}</div>
      <div class="span-2">{{ sell.total }}</div>
      <div class="clear"></div>
      <div class="span-10">
        <h4>Details:</h4>   
        {% for item_sell in sell.item_set %}
          <div class="span-2 ">
            <a href="{{ item_sell.url }}"><img src="{% if item_sell.image.small %}{{ item_sell.image.small }}{% else %}{{ 'no_photo_small.png'|asset_url }}{% endif %}" width=50px /></a>
          </div>
          <div class="span-3 ">
            <p><a href="{{ item_sell.url }}">{{ item_sell.title|title }}</a></p>
          </div>
          <div class="span-3 ">
            <p>Price: {{ item_sell.price }}</p>
          </div>
          <div class="clear"></div>
        {% endfor %}


      </div>
<div class="clear"></div>
      <div class="span-10 resume_shopping">
        <h4>Payment Status</h4>     
        {% for payment in sell.payment_history %}
          <p>{{ payment.date_time }} - {{ payment.state }}</p>
        {% endfor %}

        {% if sell.shipping_history %}
          <h4>Shipping Status</h4>      
          {% for shipping in sell.shipping_history %}
            <p>{{ shipping.date_time }} - {{ shipping.state }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div class="clear"></div>
      <br/><br/>
    {% endfor %}
  
    <br/><br/><br/>
        {% else %}
             <h3>No Orders</h3>

  {% endif %}


</div>