<div class="span-22" id="my_shopping">
<!-- cart --> 
{% if not cart_items %}
<h2>For Some Odd Reason, You're Cart Appears to Be Empty.....</h2>
<p>Please Look at Our Items For <b><a href="/for_sale/">Sale</a> </b></p>
</br>
<p>Please Look at Our Items For<b> <a href="/auctions/">Auctions</a>  </b></p>
</br>
<p>Please Look At Our Home Page<b> <a href="/home">Here</a></b></p>
{% else %}
<div class="span-22" id="title">
	<h2>My Cart</h2>
	<div class="span-7"><span>Description</span></div>        
	<div class="span-3"><span>Price</span></div>
	<div class="span-3"><span>Quantity</span></div>
	<div class="span-3 "><span>Total</span></div>
	<div class="span-3"><span>Option</span></div>
	<div class="clear"></div>
</div>
{% for item in cart_items %}
<div class="span-22" id="{{ loop.cycle ('detail1', 'detail2') }}">
	<div class="span-3 detail">
		<a href="{{ item.url }}">
			{% if item.image.small %}
			<img src="{{ item.image.small }}" />
			{% else %}
			<img src="{{ 'no_photo_small.png'|asset_url }}"/>
			{% endif %}
		</a>
	</div>
	<div class="span-4 detail">
		<a href="{{ item.url }}">{{ item.title|title }}</a>
	</div>          
	<div class="span-3 detail">{{ item.price }}</div>         
	<div class="span-3 detail">{{ item.qty }}</div>
	<div class="span-3 detail">{{ item.sub_total }}</div>
	<div class="span-3 detail">
		{% if item.can_remove %}
		<a href="{{ item.url_remove }}" class="small awesome">Remove</a>
		{% else %}
		&nbsp;
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
</div>
{% endfor %}
<div class="span-22">
	<h2 class="total">Total: {{ total }}</h2>
	<h2 class="button"><a href="/search/?q=">Continue Shopping </a></h2>
	<div class="button">
		<a href="{{ url_checkout }}" class="button">Checkout</a>
	</div>          
</div>
<div class="clear"></div>

{% endif %}
