<div class="span-10 LotBidHistoryDetails">
    <h2>{{ lot.title }}</h2>
    <div class="span-2">
	  <img src="{% if lot.image.small %}{{ lot.image.small }}{% else %}{{ 'no_photo_small.png'|asset_url }}{% endif %}" width=80px />
    </div>
    <div class="span-6">
	  {{ description }} 
    </div>
</div>
<div class="span-13 LotHistory">
        <p>Bidders: {{ lot.count_bidders }}</p>
        <p>Bids: {{ lot.count_bids }}</p>
        <p>Time Left: {{ lot.time_left_long }}</p>
        <div class="title">
          <div class="span-3 aplha omega">Bidder</div>
          <div class="span-2 aplha omega">Bid amount</div>
          <div class="span-6 aplha omega">Bid time</div>
        </div>
        <div class="clear"></div>
        <div class="LotHistory">
        {% for bid in history %}
		<div class="detail {{ loop.cycle('detail1','detail2') }}"></div>
    		<div class="detail_bidder span-3">{{ bid.bidder_username }}</div>
    		<div class="detail_amount span-2">{{ bid.bid_amount }}</div>
    		<div class="detail_time span-6">{{ bid.bid_time }}</div>
	<div class="clear"></div>
        {% endfor %}
</div>
</div>        
</div class="BackButton">
        <h3><a href="{{ lot.dir_back }}">Back to {{ lot.title }}</a></h3>
</div>
<div class="clear"></div>
